* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #efeeea;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}

.nav_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.nav_box ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.nav_box {
  background-color: red;
}

.youtube_image {
  width: 40px;
  height: 40px;
}

.side-bar {
  position: fixed;
  background-color: black;
  width: 200px;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
}

.open .side-bar {
  display: block;
}
